# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
build/
dist/

# =========================
# Node / Frontend
# =========================
node_modules/
.eslintcache
dist-ssr/
*.local

# =========================
# Environment Variables
# =========================
.env
!frontend/.env.development
!frontend/.env.production

# =========================
# Data
# =========================
data/raw/

# =========================
# Large Model Artifacts
# =========================
reports/artifacts/*.pkl
reports/artifacts/*.pth

# =========================
# Ignore images everywhere
# =========================
*.png
*.jpg
*.jpeg

# =========================
# But KEEP report outputs
# =========================
!reports/*.png
!reports/*.jpg
!reports/*.jpeg
!reports/*.csv
!reports/*.json

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
notebooks/
upload_data.py