# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Node / Frontend
node_modules/
.eslintcache
dist-ssr/
*.local

# Environment
.env

# Data
data/raw/

# Model Artifacts
reports/artifacts/*.pkl
reports/artifacts/*.pth

# Reports & Visualizations
reports/*.png
reports/*.csv
reports/*.json

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db